{% extends "newsaggregator/base.html" %}

{% block body %}
<h1>Login</h1>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}


<style media="screen">
  .logoutLogin{
    display:none;
  }
</style>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input name="username" type="text"/>
    <input name="password" type="password"/>
    <input type="submit" value="Login"/>
</form>

<label for="">Not a user</label>
<a href="{% url 'register' %}"> Register here </a>

{% endblock %}
